@model dynamic

<div>
    <h1>Bulkhead Demo</h1>
    <p>@Html.Raw(ViewData["Response"])</p>
    <p><a href="/Bulkhead/Delayed">Simulate Delayed Request</a></p>
    <p><a href="/Bulkhead/LoadTest">Simulate Load Test</a></p>
</div>
